/* Start of Global Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* End of Global Styling */

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* header */
header {
  padding: 20px 35px;
  background-color: #5C4033;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: #20292f;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: #20292f;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  color: darkred;
  border-radius: 15px;
  text-shadow: none;
}  

/* footer */
footer {
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h2 {
  color: #5C4033;
  font-size: 30px;
  margin: 0;
}

section {
  padding: 60px;
}

.hero {
  background-image: url('../images/hacker-code.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;    
}

.hero h2 {
  font-style: normal;
  font-size: 30px;
  color: #5C4033;
  float: right;
  background-color: #20292f;
}

.section {
  background-color: #5C4033;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.me-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 35px;
  color: #20292f;
  margin: 0 auto 0 auto;
  padding-right: 15px;
  width: 10%;
  text-align: end;
  border-right: #20292f solid 3px;
}

.work-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 35px;
  color: #20292f;
  margin: 0 auto 0 auto;
  padding-right: 15px;
  width: 10%;
  text-align: end;
  height: 1250px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 0 auto;
  width: 90%;
}

.flex-row2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 0 auto;
  width: 90%;
  border-left: #20292f solid 3px;
}

.photo {
  width: 10%;
  height: auto;
  padding-left: 1%;
}

.section p, .section a {
  line-height: 1.5;
  color: #20292f;
  width: 80%;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  padding: 0 15px 0 15px;
}

.flex-row2 p {
  display: inline-block;
  text-align: start;
  background-color: darkred;
  opacity: 85%;
  width: 45%;
  position: absolute;
  bottom: 10%;
  left: 0%;
}

.main-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
  height: 650px;
  width: 100%;
}

.side-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 0 auto;
  flex-direction: row;
  width: 100%;
}

.lofty {
  background-image: url("../images/Lofty.png");
  background-size: cover;
  width: 100%;
  height: 600px;
  margin: 0 1% 2% 1%;
  border: darkred 5px solid;
  position: relative;
}

.lofty:hover {
  opacity: 75%;
}

.football-weather {
  background-image: url(../images/football-weather.png);
  background-size: cover;
  width: 47.5%;
  height: 300px;
  margin-bottom: 2%;
  margin-right: 0.5%;
  border: darkred 5px solid;
  position: relative;
}

.football-weather:hover {
  opacity: 75%
}

.note-taker {
  background-image: url(../images/post-it-notes-1284667_640.jpg);
  background-size: cover;
  width: 47.5%;
  height: 300px;
  margin-bottom: 2%;
  margin-left: 0.5%;
  border: darkred 5px solid;
  position: relative; 
}

.note-taker:hover {
  opacity: 75%;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
  }
  
  header h1 {
      width: 100%;
      text-align: center;
  }
  
  header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
  }
  
  header nav ul li a {
      font-size: 20px;
  }
  
  footer h2, footer div {
      text-align: center;
      width: 100%;
  }

  .section-title {
      width: 20%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .section-title {
    width: 95%;
  }

  .section p {
    width: 100%;
  }
}
